*, *:before, *:after {
  box-sizing: border-box;
  outline: none;
}
body, html {
  position: relative;
  height: 100%;
}
body {
  background: #dce1e3;
  font-family: 'Roboto';
  color: #fff;
}
input, button, textarea,
.generator {
  transition: all .4s ease-in-out;
}
.generator {
  position: absolute;
  display: block;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  font-size: 0;
  white-space: nowrap;
  margin-left: 125px;
}
.generator.generated {
  margin-left: 0;
}
  form {
    z-index: 5;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    max-width: 300px;
    width: 100%;
    border-radius: 6px;
    background: #fafafc;
    box-shadow: 0 2px 2px 1px rgba(0,0,0,.1);
    font-size: initial;
    white-space: normal;
  }
    h1 {
      position: relative;
      display: block;
      margin: 0; padding: 0 25px;
      height: 60px;
      font-size: 28px;
      font-weight: 400;
      color: #859299;
      line-height: 60px;
      text-transform: uppercase;
      letter-spacing: 0.2em;
    }
